@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

html,
body {
  font-family: 'Mitr', sans-serif;
  overflow: hidden;
}

#scroll_dark::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll_dark::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#scroll_dark::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fbbf24;
}

.text-yellow {
  color: #fbbf24 !important;
}

.border-yellow {
  border-color: #fbbf24 !important;
}

.btn-yellow {
  background-color: #fbbf24 !important;
  border-color: #fbbf24 !important;
}

.pointer {
  cursor: pointer;
}

.sideBar {
  height: 70vh;
  background: #eeeeee;
  border-radius: 25px;
}
.contentBar {
  overflow: auto;
  height: 80vh;
}

.bookCard {
  border-width: 0px;
}
.bookCard:hover {
  background: #eeeeee;
  cursor: pointer;
}
.bookImageCard {
  height: 225px;
  object-fit: 'cover';
  background-repeat: none;
  background-position: center;
  width: 100%;
}
