@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

html,
body {
  font-family: 'Mitr', sans-serif;
}

.text-yellow {
  color: #fbbf24 !important;
}

.border-yellow {
  border-color: #fbbf24 !important;
}

.btn-yellow {
  background-color: #fbbf24 !important;
  border-color: #fbbf24 !important;
}

.pointer {
  cursor: pointer;
}
